/* This file is for your main application CSS */
@import "./normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  overflow: scroll;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #f3f4f6;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

a {
  transition-duration: 0.2s;
  word-break: break-all;
  text-decoration: none;
}

a :hover {
  color: #3b82f6;
}

.content-wrapper {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}

.list-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.tx-card {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.75rem;
  flex-direction: column-reverse;
  align-items: flex-start;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.status-chip {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.875rem;
  background-color: #d1fae5;
  color: #059669;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 9999px;
}

.status-chip.success {
  background-color: #d1fae5;
  color: #059669;
}

.status-chip.pending {
  background-color: #ffe0b2;
  color: #fb8c00;
}


.btn-primary {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition-duration: 200ms;
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0.75rem;
  background-color: #673ab7;
  transition-duration: 0.2s
}

.btn-primary :hover {
  background-color: #4527a0;
}

input {
  padding: 1.5rem;
  width: 100%;
  border-radius: 0.75rem;
  border: none;
  font-size: 1rem;
  margin-right: 1.5rem;
}

input:focus {
  border-color: #673ab7;
}

input::placeholder {
  font-size: 1rem;
}

.form-body {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.invalid-feedback {
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.btn-send {
  display: flex;
  padding: 1rem;
  color: #ffffff;
  border-radius: 0.75rem;
  background-color: #673ab7;
  justify-content: center;
  align-items: center;
}

.btn-send:disabled {
  background-color: #b39ddb;
  cursor: none;
}

@media (min-width: 768px) {
  .tx-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .btn-primary {
    width: fit-content;
  }
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 16px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fff;
  margin: 15vh auto;
  padding: 16px;
  width: 600px;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1.0;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1.0;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}